In [1]:
#ARMSTRONG NUMBERS

In [16]:
def armstrong_number(low,high):
    for i in range(low,high):
        result = 0
        num = i
        n = len(str(i))
        while(i!=0):
            digit = i%10
            result = result + digit**n
            i = i//10
        
        if num == result:
            print(num)

In [17]:
armstrong_number(10,1001)

153
370
371
407

In [18]:
#Pattern Program

In [26]:
rows = int(input('Enter number of rows: '))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

Enter number of rows: 5
1
2
3
4
5

In [27]:
rows = int(input("Enter number of rows:"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(i,end='')
    print()

Enter number of rows:7
1
22
333
4444
55555
666666
7777777

In [28]:
#Star Pattern

In [29]:
rows = int(input("Enter number of rows:"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end='')
    print()

Enter number of rows:5
*
**
***
****
*****

In [30]:
rows = int(input("Enter number of rows: "))
for i in range(rows):
    for j in range(rows):
        if j == 0 or i == rows-1 or i==j:
            print('*',end='')
        else:
            print(end=' ')
    print()

Enter number of rows: 6
*
**
* *
*  *
*   *
******

In [31]:
rows = int(input("Enter number of rows: "))
for i in range(rows):
    for j in range(rows):
        if i == 0 or j == rows-1 or i == j:
            print("*",end='')
        else:
            print(end=' ')
    print()

Enter number of rows: 5
*****
 *  *
  * *
   **
    *

In [32]:
#Floyd Triangle

In [35]:
n = int(input("Enter number of rows: "))
num = 1
for row in range(1,n+1):
    for col in range(1,row+1):
        print(num,end=' ')
        num+=1
    print()

Enter number of rows: 6
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

In [36]:
#TCS Ninja Coding

In [37]:
#series: 1,2,1,3,2,5,3,7,5,11,... (mixture of fib and prime no.)

In [67]:
from math import sqrt
MAX = 1000

def fib_numbers(n):
    f = [0]*(n+2)
    f[0],f[1] = 0,1
    for i in range(2,n+1):
        f[i] = f[i-1] + f[i-2]
    return f[n]
    
    
def prime_numbers(n):
    count = 0
    for i in range(2,MAX+1):
        flag = 0
        for j in range(2,int(sqrt(i))+1):
            if(i%j == 0):
                flag = 1
                break
        if flag == 0:
            count+=1
            
        if count == n:
            return i
            break

In [68]:

def findNthTerm(n):
    
    if n%2 == 0:
        prime_numbers(n//2)
        print(n)
    else:
        fib_numbers((n//2)+1)
        print(n)

In [69]:
findNthTerm(14)

14

In [1]:
#HACKER RANK CHallenges

In [7]:
lst = []
k = int(input())
for i in range(0,k):
    name = input()
    score = int(input())
    lst = [name,score]

print(lst)

4
5
6

7
8

ValueError: invalid literal for int() with base 10: ''

In [8]:
str = input("String: ")
result = ''
for i in range(len(str)):
    result = result + str[0:i+1]
    i+=1
print(result)

String: romu
rroromromu

In [9]:
#python Challenges

In [14]:
def product(a,b):
    product = a*b
    if product >1000:
        return a+b
    else:
        return product

In [16]:
product(100,3)

300

In [19]:
def sum(nums):
    previous_num = 0
    for i in range(nums):
        sum = previous_num + i
        previous_num = i
        print(sum)

In [20]:
sum(10)

0
1
3
5
7
9
11
13
15
17

In [24]:
def even_string(string):
    for i in range(len(string)):
        if i%2==0:
            print(i,string[i])

In [25]:
even_string('pynative')

0 p
2 n
4 t
6 v

In [26]:
def remove_chars(string,n):
    return string[n:]

In [27]:
remove_chars('pynative',4)

'tive'

In [28]:
def first_last(nums):
    return nums[0]==nums[-1]

In [29]:
first_last([1,2,3,1])

True

In [54]:
def count(string):
    count = 0
    stmt = 'Emma'
    lst = string.split()
    for i in range(len(lst)):
        if lst[i] == stmt:
            count+=1
    return count

In [55]:
count('Emma is a good developer. Emma is also a writer.')

2

In [74]:
def pattern(n):
    for i in range(1,n+1):
        for j in range(0,i):
            print(i,end=' ')
        print()

In [75]:
pattern(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [84]:
def palindrome(num):
    i = num
    rev = 0
    while num > 0:
        digit = num%10
        rev = (rev*10)+digit
        num = num//10
    if i == rev:
        return True
    else:
        return False

In [85]:
palindrome(121)

True

In [93]:
def odd_even(odd,even):
    lst3 = []
    for i in odd:
        if i%2 != 0:
            lst3.append(i)
    for j in even:
        if j%2 == 0:
            lst3.append(j)
    return lst3

In [94]:
odd_even([10,20,23,11,17],[13,43,24,36,12])

[23, 11, 17, 24, 36, 12]

In [95]:
#Hacker Rank Challenges

In [97]:
i = 4
d = 4.0
s = 'Hackerrank'

input1 = int(input())
input2 = float(input())
input3 = input()

print(i+input1)
print(d+input2)
print(s+input3)

12
4.0
is
16
8.0
Hackerrankis

In [99]:
meal_cost = float(input())
tip_percent = int(input())
tax_percent = int(input())

total_cost = meal_cost + ((0.01*tip_percent) + (0.01*tax_percent))*meal_cost

print(round(total_cost))

12.0
20
8
15

In [103]:
n  = int(input())
if n%2!=0:
    print('Weird')
elif n%2==0:
    if n in range(2,6):
        print('Not Weird')
    elif n in range(6,21):
        print('Weird')
    elif n > 20:
        print('Not Weird')

22
Not Weird

In [109]:
def getThreeChars(str):
    i = (len(str)//2)-1
    return str[i:i+3]

In [110]:
getThreeChars('JhonDipPeta')

'Dip'

In [117]:
def appendMiddle(s1,s2):
    return s1[:len(s1)//2-1] + s2 + s1[len(s1)//2-1:]

In [118]:
appendMiddle('Chrisdem','IamNewString')

'ChrIamNewStringisdem'

In [125]:
def mixString(s1,s2):
    return s1[0]+s2[0]+s1[len(s1)//2]+s2[len(s2)//2]+s1[-1]+s2[-1]

In [126]:
mixString("America","Japan")

'AJrpan'

In [132]:
input_str = input()
words = input_str.split()

lower = []
upper = []

for char in input_str:
    if char.islower():
        lower.append(char)
    else:
        upper.append(char)
        
arranged = ''.join(lower + upper)
print(arranged)

PyNaTive
yaivePNT

In [133]:
#string counts

In [137]:
input_str = input()
words = input_str.split()
charCount = 0
digitCount = 0
symbolsCount = 0

for char in input_str:
    if char.islower() or char.isupper():
        charCount+=1
    elif char.isnumeric():
        digitCount+=1
    else:
        symbolsCount+=1

print(charCount)
print(digitCount)
print(symbolsCount)

P@#rtT45&t
5
2
3

In [138]:
#python patterns

In [139]:
n = int(input("Enter the numbr of rows: "))
for row in range(n):
    for col in range(n):
        if col == 0 or row == (n-1) or row == col:
            print('*',end='')
        else:
            print(end = " ")
    print()

Enter the numbr of rows: 6
*
**
* *
*  *
*   *
******

In [142]:
#In-Built Factorial
import math
n = int(input("Enter the number: "))
result = math.factorial(n)
print(result)

Enter the number: 6
720

In [143]:
#factorial-Recursion
def fact(n):
    if n == 0:
        return 1
    else:
        return n*fact(n-1)
    
n = int(input("Enter number: "))
result = fact(n)
print("Factorial using recursion is:",result)

Enter number: 5
Factorial using recursion is: 120

In [149]:
#factorial-Loop
n = int(input("Enter number: "))
fact = 1
for i in range(n,0,-1):
    fact = fact *i
    i+=1
print(fact)

Enter number: 6
720

In [157]:
#Hollow Triangle
n = int(input("Enter number of rows: "))
for row in range(n):
    for col in range(n):
        if row == 0 or col == n-1 or row == col:
            print('*',end='')
        else:
            print(end=' ')
    print()

Enter number of rows: 6
******
 *   *
  *  *
   * *
    **
     *

In [159]:
#FLoyd's Triangle
n = int(input("Enter num of rows: "))
num =1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(num,end=' ')
        num+=1
    print()

Enter num of rows: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [164]:
string = input("Enter a string: ")
for row in range(len(string)):
    for col in range(row+1):
        print(string[col],end='')
    print()

Enter a string: BUBUUSAUR
B
BU
BUB
BUBU
BUBUU
BUBUUS
BUBUUSA
BUBUUSAU
BUBUUSAUR

In [167]:
#Fibonacci Series
n = int(input("Enter number of terms: "))
first = 0
second = 1
for i in range(n):
    print(first)
    temp = first
    first = second
    second = temp + second

Enter number of terms: 6
0
1
1
2
3
5

In [168]:
#number pattern
n = int(input("Enter number of  rows: "))
for row in range(n,0,-1):
    for col in range(1,row+1):
        print(col,end='')
    print()

Enter number of  rows: 5
12345
1234
123
12
1

In [169]:
#number pattern
n = int(input("Enter number of  rows: "))
for row in range(n,0,-1):
    for col in range(1,row+1):
        print(row,end='')
    print()

Enter number of  rows: 5
55555
4444
333
22
1

In [172]:
#prime numbers
n = int(input("Enter number: "))
if n > 1:
    for i in range(2,n):
        if n%i==0:
            print("Not a prime")
            break
    else:
        print(n,"is prime")
else:
    print("Not a prime")

Enter number: 1
Not a prime

In [174]:
#prime number in range
low = int(input("Enter lower range:"))
high = int(input("Enter higher range: "))

for i in range(low,high+1):
    if i > 1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i,"is prime")
    else:
        print("Number should be greater than 1")

Enter lower range:5
Enter higher range: 90
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime

In [185]:
#equilateral Hollow Triangle
n = int(input("Enter number of rows: "))

for row in range(1,n+1):
    for col in range(1,2*n):
        if row == n or row+col == n+1 or col-row == n-1:
            print('*',end='')
        else:
            print(end = ' ')
    print()

Enter number of rows: 8
       *
      * *
     *   *
    *     *
   *       *
  *         *
 *           *
***************

In [191]:
#equilateral Hollow Triangle 2
n = int(input("Enter number of rows: "))
k=2

for row in range(1,n+1):
    for col in range(1,2*n):
        if row+col == n+1 or col-row == n-1:
            print('*',end='')
        elif row == n and col!=k:
            print("*",end="")
            k+=2
        else:
            print(end = ' ')
    print()

Enter number of rows: 4
   *
  * *
 *   *
* * * *

In [192]:
#Basic Calculator Program

In [2]:
import math

#add
def add(n1,n2):
    return n1+n2

#subtract
def subtract(n1,n2):
    return abs(n1-n2)

#multiply
def multiply(n1,n2):
    return n1*n2

#division
def division(n1,n2):
    return n1/n2


print("Please select from 1,2,3,4\n"\
     "1. Add\n"\
     "2. Subtract\n"\
     "3. Multiplication\n"\
     "4. Division\n")

n1 = int(input("Enter Number 1: "))
n2 = int(input("Enter number 2: "))

select = int(input("Enter the operation number: "))

if select > 4:
    print("Invalid Input")



if select == 1:
    print(n1, "+", n2,"=",add(n1,n2))
    
elif select == 2:
    print(n1, "-", n2,"=",subtract(n1,n2))

    
elif select == 3:
    print(n1, "*", n2,"=",multiply(n1,n2))
    

elif select == 4:
    print(n1, "/", n2,"=",division(n1,n2))

Please select from 1,2,3,4
1. Add
2. Subtract
3. Multiplication
4. Division

Enter Number 1: 4
Enter number 2: 5
Enter the operation number: 5
Invalid Input