PYTHON CRASH COURSE

In [1]:
## String Formatting
# using .format()
name = 'Romu'
age = 18

print('My name is {} and my age is {}'.format(name,age))

My name is Romu and my age is 18

In [3]:
# using formatted string

print('Enter Name: ')
name = input()
print('Enter age: ')
age = int(input())

print(f'My name is {name} and my age is {age}.')

Enter Name:
Abhishek
Enter age:
22
My name is Abhishek and my age is 22.

In [5]:
s = 'hello'
s[4]
s[-1]

'o'

In [14]:
s = 'abhishek'
s[::-1]

'kehsihba'

In [16]:
myList = ['a','b']
myList.append('c')
myList

['a', 'b', 'c']

In [1]:
d = {'key1':'value','key2':[1,2,3]}
d['key2']

[1, 2, 3]

In [2]:
t = (1,2,3)
t[0] = 4

TypeError: 'tuple' object does not support item assignment

In [5]:
s = {11,2,2,3,4}
s

{2, 3, 4, 11}

In [6]:
set([1,1,2,3,4,3,4,2])

{1, 2, 3, 4}

LOOPS

In [7]:
seq = [1,2,3,4,5]
for i in seq:
    print(i)

1
2
3
4
5

In [8]:
i = 1
while(i<5):
    print(f'i is : {i}')
    i+=1

i is : 1
i is : 2
i is : 3
i is : 4

In [9]:
x = [1,2,3,4]
out = []
for num in x:
    out.append(num**2)

print(out)

[1, 4, 9, 16]

In [10]:
[num**3 for num in x]

[1, 8, 27, 64]

In [11]:
def times(num):
    return num**2

times(5)

25

In [12]:
t = lambda num : num**3
t(4)

64

In [13]:
#map 
seq = [2,3,4,5]
list(map(lambda num : num**3,seq))

[8, 27, 64, 125]

In [14]:
#filter
list(filter(lambda num : num%2 == 0,seq))

[2, 4]

In [16]:
lst1 = [1,2,3,4]
lst2 = []

for item in lst1:
    list(lst1.pop()).append(lst2)

print(lst2)

TypeError: 'int' object is not iterable

In [19]:
x = [(1,2),(2,3),(3,4)]

for a,b in x:
    print(b,a)

2 1
3 2
4 3

In [28]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [29]:
mylist

[0, 2, 4, 6, 8, 10]

In [31]:
celsius = [0,10,37,34.5]
farenheit = [((9/5)*temp + 32) for temp in celsius]
farenheit

[32.0, 50.0, 98.60000000000001, 94.1]